
body{
    margin:0;
    padding:0;
    border:0;
    width:100%;
    background:#fff;
    font-size:90%;
}
.header {
        clear:both;
        float:left;
        width:100%;
}
.mainOuter{
        position:relative;
        clear:both;
        float:left;
        width:100%;
        padding:40px;
        overflow:hidden;
       
}
.main{
    margin-left:auto;
    margin-right:auto;
}

.footer {
    clear:both;
    float:left;
    padding:40px;
    width:100%;
    border-top:1px solid #000;
}